<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; <b>Les CNP du Grand Est </b></div>
            <div>
                Plateforme créée dans le cadre du <a href="https://opendata.normandie.fr/pages/datathon" target="_blank">Datathon Normandie 2024</a>. 
                Toutes les données sont open source et destinées au datathon.
            </div>
        </div>
    </div>
</footer>